@import "variables";

@block-border-radius: 5px;

.block-row{
  margin: 15px 0;
}

.block {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: @gray;
  z-index: 0;
}

.block-header {
  color: @gray-lighter;
  font-size: large;
  font-family: "DejaVu Serif", serif;
  padding: 6px;
  overflow: hidden;
  background-color: @brand-primary;
  border-radius: @block-border-radius @block-border-radius 0 0;
  a{
    color: black;
  }
}

/**
FOOTER
*/

.block-footer{width: 100%; overflow: hidden;}
.block-footer-lp{
  width: 25%;
  float:left;
  color: @gray-lighter;
  background-color: @brand-primary;
  padding: 3px;
  border-radius: 0 0 8px 8px;
}
.block-footer-lp p{padding: 5px; font-size: 1em;}
.block-footer-lp a{color: white;}


.course-approved{border: 3px solid green;}


.block-item {
  position: absolute;
  border-radius: 5px;
  opacity: 0.8;
  border: 2px #cccccc solid;
  color: @gray;
  background-color: @gray-lighter
}

.course-private {
  background-color: #c3e5c4;
}


.prereq-0 {
  background-color: @gray-light;
}

.block-addyear {
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  cursor: hand;
  position: absolute;
}

.block-text-left {
  width: 70%;
  float: left;
}

.block-text-right {
  width: 29%
}

.block-content {
  padding: 3px;
}

/**
SUM TOTAL
*/

.block-sum {
  width: 17%;
  color: @gray-lighter;
  font-size: small;
  font-family: "DejaVu Serif", serif;
  padding: 6px;
  overflow: hidden;
  background-color: @brand-primary;
  border-radius: @block-border-radius @block-border-radius @block-border-radius @block-border-radius;
}
