html,
body {
    height: 100%;
    position: relative;
}

#nav-hidden {
    height: 40px;
}

h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}

p {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

.navbar {
    font-size: 1.2em;
}

#wrapper {
    height: 100%;
    position: relative;
    padding-top: 70px;
}

.footer-content {
    padding: 20px;
    margin: 0;
}

.footer {
    margin-top: 100px;
    width: 100%;
    position: absolute;
    padding: 0;
}

#top-footer {
    a {
        color: @gray-lighter
    }
    a:hover {
        color: @gray-dark
    }
    hr {
        border-top: 1px solid black;
    }
    color: white;
    background-color: @gray-light;
}

#bottom-footer {
    a {
        color: @gray-dark
    }
}

.navbar-inverse {
    border-bottom: 1px solid black;
}

.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;
}

.form-control.select2-container {
    height: auto !important;
    padding: 0px;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}

dl.striped dt:nth-of-type(even),
dl.striped dd:nth-of-type(even) {
    background: #fff3f1;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 2px;
    outline: none;
    background: url('select2.png') right top no-repeat;
}

.legend {
    list-style: none;
}

.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}